{% extends "base.html" %}

    {% block content %}

<h1>HomePage</h1>
<P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi nulla maiores aliquid sapiente tempore repellendus voluptas provident error, deserunt cumque magni quidem sed obcaecati, sunt, qui corrupti eos maxime mollitia!</P>
<p>the value of x is {{x}}</p>
<p>the value of x is {{y}}</p>
{%load static%}
<img src="{% static 'images/gre.jpg' %}" alt="girl">

<a href="{% url 'new'%}">go to new</a>

{% for i in allinfo %}

    <p>{{i}}</p>

{%endfor%}
{% endblock %}





